.button {
    position: relative;
    top: 25px;
    right: 0;
    margin-left: 20px;
    float: right;
}

.createReplyDiv {
	position: relative;
	height: 150px;
}

.createForm {
	position: relative;
	height: 200px;
}

.createText {
	position: relative;
    width: 80%;
    min-width: 400px;
    float: left;
}