.button {
    position: relative;
    top: 25px;
    right: 0;
}

.createReplyDiv {
	position: relative;
	height: 150px;
}

.createForm {
	position: relative;
}

.createText {
	position: relative;
    width: 65%;
    float: left;
}