.button {
    position: relative;
    top: 25px;
    right: 0;
    margin-left: 20px;
    float: right;
}

.createReplyDiv {
	display: flex;
    flex-direction: row;
    align-items: center;
	height: 150px;
}

.createText {
	flex-grow: 40;
}

.createButton {
    flex-grow: 1;
    padding-left: 10px;
}