/* reply */
 
.reply .info {
    font-size: 18px;
    padding: 20px 20px 0px 20px;
    color: #90A4AE;
}
 
.reply .info .username {
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}
 
.reply .card-content {
    word-wrap: break-word;
    white-space: pre-wrap;
}
 
.iconButton {
    color: #9e9e9e;
    cursor: pointer;
}
 
.iconButton:hover {
    color: #C5C5C5;
}
 
.iconButton:hover {
    color: #C5C5C5;
}
 
.iconButton:active {
    color: #ff9800;
}
 
.reply .optionbutton {
    position: absolute;
    right: 20px;
    top: 20px;
}

.button {
    position: relative;
    left: 85%;
}

.cardContent {
    word-break:break-all;
    white-space:pre;
}
 
.cardAction {
    text-align: right;
    cursor : pointer;
}